/** Stylus Styles */

// $body-font-family = 'Arial'
// $alert-font-size = 18px
// $color-pack = false

// main.styl
@import '~vuetify/src/stylus/main'

.blue-border {
	border: solid 2px blue;
}

.red-border {
	border: solid 2px red;
}

.green-border {
	border: solid 2px green;
}

.blue-border-small {
	border: solid 1px blue;
}

.img-green-border-small {
	border: dotted 1px green;
	border-radius: 2px;
}

.red-border-small {
	border: solid 1px red;
}

.disp-none {
	display: none;
}

.custom-loader {
	animation: loader 1s infinite;
	display: flex;
}
@-moz-keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@-o-keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes loader {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.profimgafter {
	color: transparent;
}
